* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
  background: white;
  margin: 0;
  color: black;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 50px;
}

.header p {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  margin-bottom: 20px;
}

.topnav {
  overflow: hidden;
  background: whitesmoke;
  margin-bottom: 20px;
}

.nav-item {
  float: left;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button.active {
  background-color: #ccc;
}

.button:hover {
  background-color: #ccc;
}

.content {
  padding: 20px;
  margin-bottom: 20px;
}

.page-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  background-color: whitesmoke;
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro {
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: black;
}

footer {
  background-color: whitesmoke;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  color: black;
}

th {
  background-color: black;
  font-weight: bold;
  color: white;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 50px;
  color: black;
}

.header p {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  margin-bottom: 20px;
}


.h2 {
  background-color: white;
  color: black;
}

.p {
  background-color: white;
  color: black;
}

.ol {
  background-color: white;
  color: black;
  margin-bottom: 20px;
}
